/*********

COMMON

*********/

*{
    font-family: "monospace",sans-serif;
    
}
a.navbar-brand.title-icon span {
    color: #00abae;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
p{
    font-size: 0.7vw;
}

h2{
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 1vw;
}

a.font-black {
    color:blueviolet !important
}
/*********

ABOUT


**********/

#about{
    margin: 2vw auto;
    max-width: 20vw;
    text-align: center;
}

#about img{
    border-radius: 80%;
    width:14vw;
    height:14vw;
    margin-bottom: 1vw;
}

#about .name{
    font-size: 1vw;
}

#about .vocation{
    font-size: 1 vw;
    color: #ababab;
    margin-bottom: 0.5vw;
}

#about .skills{
    font-size: 0.7vw;
    color: #00abae;
    margin-bottom: 0.5vw;
}

#about .email{
    margin-top: 0.7vw;
    font-size: 0.7vw;
}

#about .icons{
    margin-top: 2vw;
    font-size: 30px;
}

#about .icons a{
    color: #000;
}

/***********

PROJECT

***********/

#Project{
    margin: 4vw auto;
    width: 80%;
}

#Project h2{
    text-align: center;
}

#Project .card{
    width: 100%;
    font-size:1vw;
}

#Project .card-title{
    font-weight: bold;
    font-size:2vw;
}
.img-fluid.rounded-start img{
    width:30vw;
    
}
a.btn-secondary{
    font-size:1.5vw;
}