/*********

COMMON

*********/

*{
    font-family: "monospace",sans-serif;
    
}
a.navbar-brand.title-icon span {
    color: #00abae;
}

.title-icon{
    font-size: 1vw;
    font-weight: bold;
}

.font-primary {
    color: #00abae;
}
p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 1.1vw;
    margin-bottom: 1vw;
}

a.font-black {
    color:blueviolet !important
}
/*********

ABOUT


**********/

#about{
    margin: 2vw auto;
    max-width: 20vw;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 7.5vw;
    margin-bottom: 1vw;
}

#about .name{
    font-size: 1vw;
}

#about .vocation{
    font-size: 1 vw;
    color: #ababab;
    margin-bottom: 0.5vw;
}

#about .skills{
    font-size: 0.7vw;
    color: #00abae;
    margin-bottom: 0.5vw;
}

#about .email{
    margin-top: 0.7vw;
    font-size: 0.7vw;
}

#about .icons{
    margin-top: 2vw;
    font-size: 30px;
}

#about .icons a{
    color: #000;
}

/***********

PROJECT

***********/

#Project{
    margin: 4vw auto;
    width: 80%;
}

#Project h2{
    text-align: center;
}

#project .card{
    width: 100%;
}

#project .card-title{
    font-weight: bold;
}
.img-fluid.rounded-start img{
    width:30vw;
    
}